extends playlists

block listWrap
  if (totalContributors === 0 ) 
    .errorMessages
      - let msgTypes = Object.keys(flash || {})
      if (msgTypes.length > 0) 
        each msgType in msgTypes
          each msg in flash[msgType]
            pre(class=`${msgType}`) #{msg}
    p There are no contributors on this playlist.
    a(href=`/${playlistType}/playlists/playlist/${page}/${playlistId}`) Back
  else 
    block list 
        .listHeader
          p(class="username") #{totalContributors} Contributor(s)  
        .errorMessages
          - let msgTypes = Object.keys(flash || {})
          if (msgTypes.length > 0) 
            each msgType in msgTypes
              each msg in flash[msgType]
                pre(class=`${msgType}`) #{msg}
        .pageNav 
          if (page > 1) 
            a(href=`/${playlistType}/playlists/playlist/${playlistId}/contributors/${page - 1}`) ⮜
          .pages
            - for (let pageNum  = startPage ; pageNum <= endPage; pageNum++)
              a(class=`${(pageNum === page) ? "curPage" : ""}` href=`/${playlistType}/playlists/playlist/${playlistId}/contributors/${pageNum}`) #{pageNum}
          if (page < totalPages) 
            a(href=`/${playlistType}/playlists/playlist/${playlistId}/contributors/${page + 1}`) ⮞
        .cols
          .label
            p(class="username") username
          .label
    block values
      .content
        .playListWrap
          each contributor in contributors.contributors
              div(class="songCard")
                .val
                  p= contributor.username   
                .val
                  if(playlistType === "your")
                    form(class="delete" action=`/${playlistType}/playlists/playlist/${playlistId}/contributors/${page}/${contributor.id}/delete` method="post")
                      input(onclick= "confirmSubmit(event, 'Delete contributor from the playlist?')" class="deleteBtn" type="submit" value="")
      a(href=`/${playlistType}/playlists/playlist/${page}/${playlistId}`) Back

