extends layout

block main
  if (playlistTotal === 0) 
    .errorMessages
      - let msgTypes = Object.keys(flash || {})
      if (msgTypes.length > 0) 
        each msgType in msgTypes
          each msg in flash[msgType]
            pre(class=`${msgType}`) #{msg}
    .emptyMessage
      p There is currently no playlist. 
      if (user !== undefined && playlistType === "your")
        p Click "Create" to create a playlist.
        a(href=`/${playlistType}/playlists/${page}/create`) Create 
  else 
    .playlistsDiv
      h1(class="pageTitle") #{pageTitle}
      block listWrap
        block list 
          .listHeader
            - let playlistLabel = playlistTotal < 2 ? "Playlist" : "Playlists"
            p(class="username") #{playlistTotal} #{playlistLabel} 
            if (user !== undefined && playlistType === "your")
              a(href=`/${playlistType}/playlists/${page}/create`) Create 
          .errorMessages
            - let msgTypes = Object.keys(flash || {})
            if (msgTypes.length > 0) 
              each msgType in msgTypes
                each msg in flash[msgType]
                  pre(class=`${msgType}`) #{msg}
          .pageNav 
            if (page > 1) 
              a(href=`/${playlistType}/playlists/${page - 1}`) ⮜
            .pages
              - for (let pageNum  = startPage ; pageNum <= endPage; pageNum++)
                a(class=`${(pageNum === page) ? "curPage" : ""}` href=`/${playlistType}/playlists/${pageNum}`) #{pageNum}
            if (page < totalPages) 
              a(href=`/${playlistType}/playlists/${page + 1}`) ⮞
          .cols
            .labelTitle
              p(class="username") Title
            if (playlistType !== "your")
              .labelAddedBy
                p(class="username") Creator
            .labelSongTotal
              p(class="username") Songs
        block values
          .content
            .playListWrap
              each playlist in playlists
                a(href=`/${playlistType}/playlists/${page}/playlist/1/${playlist.id}`) 
                  div(class="songCard")
                    .descriptionDiv
                      .valTitle
                        p= playlist.title   
                      if (playlistType !== "your")
                        .valAddedBy
                          p= playlist.username 
                      .valSongTotal
                        p= playlist.count
                    if (user !== undefined)
                      .modDiv 
                        .val
                          if (playlistType === "your")
                            form(action=`/${playlistType}/playlists/${page}/playlist/${playlist.id}/edit` method="get")
                              input(class="editBtn" type="submit" value="")
                        .val
                          if (playlistType === "contribution")
                            form(class="delete" action=`/${playlistType}/playlists/${page}/playlist/${playlist.id}/delete` method="post")
                              input(onclick = "confirmSubmit(event, 'Do you want to remove the playlist. You will no longer be contributing to the playlist.')" class="stopContributionBtn" type="submit" value="Stop Contributing")
                          if (playlistType === "your")
                            form(class="delete" action=`/${playlistType}/playlists/${page}/playlist/${playlist.id}/delete` method="post")
                              input(onclick = "confirmSubmit(event,'Do you want to delete the playlist? This will remove the playlist for contributors as well.')" class="deleteBtn" type="submit" value="")
          
