extends layout

block main
  .playlistsDiv
    h1(class="pageTitle") #{pageTitle}
    - let msgTypes = Object.keys(flash || {})
    if (msgTypes.length > 0) 
      each msgType in msgTypes
        each msg in flash[msgType]
          pre(class=`${msgType}`) #{msg}
    block list 
      .listHeader
        p(class="username") #{playlists.length} Playlist(s)  
        if (user !== undefined && playlistType === "owned")
          a(href=`/${playlistType}/playlists/create`) Create 
      .cols
        .label
          p(class="username") Title
        .label
          p(class="username") Creator
        .label
          p(class="username") Song Total
        .label
    block values
      .content
        .playListWrap
          each playlist in playlists
            a(href=`/${playlistType}/playlist/${playlist.id}`) 
              div(class="songCard")
                .val
                  p= playlist.title   
                .val
                  p= playlist.username 
                .val
                  p= playlist.count
                .val
                  if (user !== undefined)
                    if (playlistType === "contribution")
                      form(class="delete" action=`/playlists/${playlist.id}/delete/contribution` method="post")
                        input(onclick = "confirmSubmit(event, 'Do you want to remove the playlist. You will no longer be contributing to the playlist.')" class="deleteBtn" type="submit" value="❌")
                    if (playlistType === "owned")
                      form(class="delete" action=`/playlists/${playlist.id}/delete` method="post")
                        input(onclick = "confirmSubmit(event,'Do you want to delete the playlist? This will remove the playlist for contributors as well.')" class="deleteBtn" type="submit" value="X")

