extends layout

block main
  if(playlistTotal === 0) 
    if (user !== undefined)
      a(href=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/contributors/1`) Contributors
    if(playlistType === "your")
      a(href=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/contributors/add`) Add 
    p(class="errorTxt") There are currently no songs on the playlist.
    if(playlistTotal === 0 && (playlistType === "your" || playlistType === "contribution")) 
      p(class="errorTxt") Add a song below.
      .errorMessages
        - let msgTypes = Object.keys(flash || {})
        if (msgTypes.length > 0) 
          each msgType in msgTypes
            each msg in flash[msgType]
              pre(class=`${msgType}`) #{msg}
      if (!(playlistType === "anonPublic"))
        a(href=`/${playlistType}/playlists/${page}`) Back
      else
        a(href=`/anon/public/playlists/${page}`) Back
      .playlistsDiv
        .addDiv
          form(class="addForm" action=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/add` method="post")
            .verticalDiv
              .songInputDiv
                input(class="inputURL" id="url" type="text" name="url" placeholder="Youtube URL" value=url) 
            input(class="btn addBtn" type="submit" value="Add")
  else 
    .playlistsDiv
      h1(class="pageTitle") #{pageTitle}
      block listWrap 
        block list 
          .listHeader
            .headerLeft
              - let songLabel = playlist.songTotal < 2 ? "Song" : "Songs"
              p(class="username") #{playlist.songTotal} #{songLabel}
            if (user !== undefined)
              a(href=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/contributors/1`) Contributors
            if(playlistType === "your")
              a(href=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/contributors/add`) Add 
          if (flash && Object.keys(flash).length > 0)
            .errorMessages
              - let msgTypes = Object.keys(flash || {})
              if (msgTypes.length > 0) 
                each msgType in msgTypes
                  each msg in flash[msgType]
                    pre(class=`${msgType}`) #{msg}
          if (!(playlistType === "anonPublic"))
            a(href=`/${playlistType}/playlists/${page}`) Back
          else
            a(href=`/anon/public/playlists/${page}`) Back
          .playerDiv
            .iframeDiv
              #player
            .currentSong
              .playIcon
                p ♫
              .valNo
                p(id="curSongNo") ...
              .valTitle
                p(id="curSongTitle") ...
              .valAddedBy
                p(id="curAddedBy") ...
          .control
            button(class="btn" id="shuffle")
          if (playlistType !== "public" && playlistType !== "anonPublic")
            .addDiv
              form(class="addForm" action=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/add` method="post")
                .verticalDiv
                  .songInputDiv
                    input(class="inputURL" id="url" type="text" name="url" placeholder="Youtube URL" value=url) 
                input(class="btn addBtn" type="submit" value="Add")
          .pageNav 
            if (pagePl > 1) 
              if (playlistType !== "anonPublic")
                a(href=`/${playlistType}/playlists/${page}/playlist/${pagePl - 1}/${playlistId}`)
                  img(src=`/assets/icons/arrow.svg`)
              else 
                a(href=`/anon/public/playlists/${page}/playlist/${pagePl - 1}/${playlistId}`) 
                  img(src=`/assets/icons/arrow.svg`)
            .pages
              - for (let pageNum  = startPage ; pageNum <= endPage; pageNum++)
                if (playlistType !== "anonPublic")
                  a(class=`${(pageNum === pagePl) ? "curPage" : ""}` href=`/${playlistType}/playlists/${page}/playlist/${pageNum}/${playlistId}`) #{pageNum}
                else 
                  a(class=`${(pageNum === pagePl) ? "curPage" : ""}` href=`/anon/public/playlists/${page}/playlist/${pageNum}/${playlistId}`) #{pageNum}

            if (pagePl < totalPages) 
              if (playlistType !== "anonPublic")
                a(href=`/${playlistType}/playlists/${page}/playlist/${pagePl + 1}/${playlistId}`)
                  img(src=`/assets/icons/arrow.svg` class="rotate180")
              else 
                a(href=`/anon/public/playlists/${page}/playlist/${pagePl + 1}/${playlistId}`)
                  img(src=`/assets/icons/arrow.svg` class="rotate180")
          .cols
            .labelNo
              p(class="username" style) No.
            .labelTitle
              p(class="username") Title
            .labelDuration
              p(class="username") Duration
            .labelAddedBy
              p(class="username") Added By
        block values
          .content
            .playListWrap
              each song in playlist.songs
                div(class="btn songCard" data-video-id=`${song.video_id}`)
                  .descriptionDiv
                    .valNo
                      p= playlist.songs.indexOf(song) + 1
                    div(class="valTitle")
                      p= song.title   
                    .valDuration
                      p= song.duration_sec
                    .valAddedBy
                      p= song.added_by
                  .modDiv
                    if (user !== undefined && playlistType !== "public")
                      .valEdit
                        a(class="btn editBtn" href=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/${song.id}/edit`)
                      .valDelete
                        if (user !== undefined)
                          form(class="delete" action=`/${playlistType}/playlists/${page}/playlist/${pagePl}/${playlistId}/${song.id}/delete` method="post")
                            input(onclick = "confirmSubmit(event,'Do you want to delete the song from the playlist?')" class="btn deleteBtn" type="submit" value="")
