extends playlists

block list 
  input(type="hidden" id="videoIds" value=`${videoIds}`)
  input(type="hidden" id="vidoeId" value=`${videoId}}`)
  .listHeader
    .headerLeft
      p(class="username") #{playlist.songs.length} song(s)  
      p(class="username") Total Duration: 
    if (user !== undefined)
      a(href=`/${playlistType}/playlist/${playlistId}/contributors`) Contributors
  .iframe
    #player
  .addDiv
    form(class="addForm" action=`/${playlistType}/playlist/${playlistId}/addSong` method="post")
      label(for="url") Youtube Url
      input(id="url" type="text" name="url") 
      label(for="title") Title
      input(id="title" type="text" name="title") 
      input(class="deleteBtn" type="submit" value="Add")
  .cols
    .label
      p(class="username") No.
    .label
      p(class="username") Title
    .label
      p(class="username") Added By
    .label
block values
  .content
    .playListWrap
      each song in playlist.songs
        div(class="songCard" data-video-id=`${song.video_id}`)
          .val
            p= playlist.songs.indexOf(song) + 1
          .val
            p= song.title   
          .val
            p= song.added_by
          .val
            if (user !== undefined)
              form(class="delete" action=`/playlists/delete/${playlist.id}` method="post")
                input(class="deleteBtn" type="submit" value="❌")

