extends playlists

block list 
  input(type="hidden" id="videoIds" value=`${videoIds}`)
  input(type="hidden" id="vidoeId" value=`${videoId}}`)
  .listHeader
    .headerLeft
      p(class="username") #{playlist.songs.length} song(s)  
    if (user !== undefined)
      a(href=`/${playlistType}/playlist/${playlistId}/contributors`) Contributors
  
  .iframeDiv
    #player
  .addDiv
    form(class="addForm" action=`/${playlistType}/playlist/${playlistId}/addSong` method="post")
      .verticalDiv
        .songInputDiv
          input(class="inputURL" id="url" type="text" name="url" placeholder="Youtube URL") 
          input(class="inputURL" id="title" type="text" name="title" placeholder="Video Title") 
      input(class="addBtn" type="submit" value="Add")
  .cols
    .labelNo
      p(class="username" style) No.
    .labelTitle
      p(class="username") Title
    .labelAddedBy
      p(class="username") Added By
    .labelDelete
block values
  .content
    .playListWrap
      div(class="currentSong")
        .valNo
          p(id="curSongNo") No
        .valTitle
          p(id="curSongTitle") title   
        .valAddedBy
          p(id="curAddedBy") userName
        .valDelete
        .valEdit
      each song in playlist.songs
        div(class="songCard" data-video-id=`${song.video_id}`)
          .valNo
            p= playlist.songs.indexOf(song) + 1
          .valTitle
            p= song.title   
          .valAddedBy
            p= song.added_by
          .valEdit
            if (user !== undefined)
              form(class="delete" action=`/${playlistType}/playlist/${playlistId}/${song.id}/editSong` method="get")
                input(class="editBtn" type="submit" value="")
          .valDelete
            if (user !== undefined)
              form(class="delete" action=`/${playlistType}/playlist/${playlistId}/${song.id}/deleteSong` method="post")
                input(class="deleteBtn" type="submit" value="")
  .pageNav 
    if (curPageNum !== 0) 
      a(href=`/${playlistType}/playlist/${playlistId}/${curPageNum - 1}`) <
    .pages
      - for (let pageNum  = startPage ; pageNum <= endPage; pageNum++)
        a(class=`${(pageNum === curPageNum) ? "curPage" : ""}` href=`/${playlistType}/playlist/${playlistId}/${pageNum}`) #{pageNum + 1}
    if (curPageNum < pages - 1) 
      a(href=`/${playlistType}/playlist/${playlistId}/${curPageNum}`) >
