extends layout

block title
  h1(class="pageTitle") Playlists 
block navTop 
  .navTopLeft
    p #{playlists.length} Playlist(s)  
  .navTopRight
    p Signed in as username
    form(class="buttonForm" action="/playlist/sign-out" method="post")
      input(type="submit" value="Sign out")
block content
  .content
    .playListWrap
      each playlist in playlists
        a(href=`/playlist/${playlist.id}`) 
          div(class="songCard")
            .songWrap
              .songNumber
                p #{playlists.indexOf(playlist) + 1}
              .songDescription
                p= playlist.title   
                .songInfo
                  p(class="info") Added by: #{playlist.username} 
                  p(class="info") Songs: #{playlist.count}
            form(class="delete" action=`/playlists/delete/${playlist.id}` method="post")
              input(class="deleteBtn" type="submit" value="❌")

