extends layout

block main
  if (playlistTotal === 0) 
    .emptyMessage
      p There is currently no public playlist. 
  else 
    .playlistsDiv
      h1(class="pageTitle") Public Playlists
      block listWrap
        block list 
          .listHeader
            - let playlistLabel = playlistTotal < 2 ? "Playlist" : "Playlists"
            p(class="username") #{playlistTotal} #{playlistLabel} 
          .pageNav 
            if (page > 1) 
              a(href=`/anon/public/playlists/${page - 1}`) 
                img(src=`/assets/icons/arrow.svg`)
            .pages
            - for (let pageNum  = startPage ; pageNum <= endPage; pageNum++)
              a(class=`${(pageNum === page) ? "curPage" : ""}` href=`/anon/public/playlists/${pageNum}`) #{pageNum}
            if (page < totalPages) 
              a(href=`/anon/public/playlists/${page + 1}`) 
                img(src=`/assets/icons/arrow.svg` class="rotate180")
        block values
          .content
            .playListWrap
              each playlist in playlists
                a(href=`/anon/public/playlists/${page}/playlist/1/${playlist.id}`) 
                  div(class="marginatedTop")
                    .cardBlock
                      .textStart
                        .textTitle
                          p= playlist.title
                        div(class="textRow")
                          .madeBy
                            p Made by:
                          .publicPlaylist
                            p= playlist.username
                        div(class="textRow")
                          .madeBy
                            p Total Songs:
                          .publicPlaylist
                            p= playlist.count

