extends layout

block main
  if (playlistTotal === 0) 
    .emptyMessage
      p There is currently no public playlist. 
  else 
    .playlistsDiv
      h1(class="pageTitle") Public Playlists
      block listWrap
        block list 
          .listHeader
            - let playlistLabel = playlistTotal < 2 ? "Playlist" : "Playlists"
            p(class="username") #{playlistTotal} #{playlistLabel} 
          .pageNav 
            if (page > 1) 
              a(href=`/anon/public/playlists/${page - 1}`) ⮜
            .pages
            - for (let pageNum  = startPage ; pageNum <= endPage; pageNum++)
              a(class=`${(pageNum === page) ? "curPage" : ""}` href=`/anon/public/playlists/${pageNum}`) #{pageNum}
            if (page < totalPages) 
              a(href=`/anon/public/playlists/${page + 1}`) ⮞
          .cols
            .labelTitle
              p(class="username") Title
            .labelAddedBy
              p(class="username") Creator
            .labelSongTotal
              p(class="username") Songs
        block values
          .content
            .playListWrap
              each playlist in playlists
                a(href=`/anon/public/playlists/${page}/playlist/1/${playlist.id}`) 
                  div(class="songCard")
                    .descriptionDiv
                      .valTitle
                        p= playlist.title   
                      .valAddedBy
                        p= playlist.username 
                      .valSongTotal
                        p= playlist.count
